.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.8;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: larger;
  font-weight: normal;
  opacity: 1;
}

.navbar li > a {
  transition: 0.3s;
  border-bottom: 5px transparent;
}

.navbar li > a:hover {
  color: var(--primary-color);
  border-bottom: 5px solid;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

@media (max-width: 470px) {
  .navbar {
    font-size: smaller;
  }
}

@media (max-width: 780px) {
  .navbar {
    font-size: small;
  }
}
